<!DOCTYPE html>
<html>

<head>
	<title>Go-Boiler</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/app.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

	<style>
		body {
			font-family: 'Open Sans Condensed', sans-serif;
			font-weight: 1200;
		}

		ul.links {
			list-style: none;
		}

		ul.links>li {
			display: inline-block;
			padding: 10px 20px;
		}
	</style>
</head>

<body>
	<div style="background: #57abcc">
		<div style="padding-top:10%; text-align: center; ">
			<h1>
				<span style="font-size:50px;color:#fff; font-weight:lighter; border-bottom: 1px solid #cfcfcf">
					Go-Boiler
				</span>
			</h1>
			<span style="font-size:30px;"> Jump start </span>
			<ul class="links">
				<li> <a href="#">Source code</a> </li>
				<li> <a href="#">Documentation</a> </li>
				<li> <a href="#">Contact</a> </li>
			</ul>
		</div>
	</div>
	<div style="padding-top:10%; text-align: center; ">
		<h1>
			<span style="font-size:50px;color: #666666; font-weight:lighter; border-bottom: 1px solid #cfcfcf">
				Get Started
			</span>
		</h1>
	</div>

</body>

</html>