body{
	max-width: 1280px;
	background-color:  #fcfcfc;
	padding : 0;
	padding-top: 100px;
	margin: 0 auto;
	color :$text;
}

.heading{	
	position: absolute;
	top :0;
	left:  0;
	width: 100%;
	padding: 20px;
	background-color: $main-dark;
	color:$text-invert;
	h1{
		margin: 0 auto;
	}
}

ul.vertical-list {
	list-style: none;
}

