<!DOCTYPE html>
<html>
<head>
	<title>Cobrastack</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/app.css">
</head>
<body>

	<div class="heading">
		<div class="row">
			<a href="#" style="color:#fff;margin:10px 20px; "><i class="fa fa-th fa-2x"></i></a>
			<div class="col-xs-4 center-xs">
        		<h1> CobraStack</h1>
    		</div>    	
		</div>
	</div>

	<div class="row">	
		<div class="col-md-4 col-xs-12">
			<div class="card">
				<ul class="vertical-list"> <p><b> Features </b></p>
					<li>Static Loader</li>
					<li>Assets Compiler</li>
				</ul>
			</div>
		</div>
		<div class="col-md-4 col-xs-12">
			<div class="card">
				<ul class="vertical-list"> <p><b> Builtins </b></p>
					<li>FlexGrid For Grid System</li>
					<li>Manully Selected Css Components</li>
				</ul>
			</div>	
		</div>
		<div class="col-md-4 col-xs-12">
			<div class="card">
				<ul class="vertical-list"> <p><b> Technology </b></p>
					<li>WebServer in Golang</li>
					<li>Superfast Loading</li>
				</ul>
			</div>	
		</div>
	</div>

	<div class="row center-xs">		
		<a class="btn"><span>Getting Started</span></a>		
	</div>

	<div class="big-popup">
		<h1 style="text-align:center">Menu</h1>
		<div class="row">	
			<div class="col-md-4 col-xs-12">
				<div class="card">
					<ul class="vertical-list"> <p><b> Features </b></p>
						<li>Static Loader</li>
						<li>Assets Compiler</li>
					</ul>
				</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="card">
					<ul class="vertical-list"> <p><b> Builtins </b></p>
						<li>FlexGrid For Grid System</li>
						<li>Manully Selected Css Components</li>
					</ul>
				</div>	
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="card">
					<ul class="vertical-list"> <p><b> Technology </b></p>
						<li>WebServer in Golang</li>
						<li>Superfast Loading</li>
					</ul>
				</div>	
			</div>
		</div>
	</div>


</body>
</html>