/*
 * Comman css
 */
a{
    color:#59a0c9;
}
a:active{
    color:#59a0c9;
}
a:visited{
    color:#59a0c9;
}


p{
    text-align: justify;
}

ul{
    list-style: none;
}

li{
    list-style: none;
}
h4.topic{
    padding:10px 20px;
    border-left: 2px solid #e4e26a
}

/*
 * mobile first css
 */

.side-nav {
    position: absolute;
    left: -1000px;
    top: 0;
    height: 100%;
    width: 300px;
    background: #1b2733;
    padding: 20px;
    transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.side-nav.open {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 300px;
    background: #1b2733;
    padding: 20px;

}
.content {
    padding: 30px;
}

.section {
    margin: 0 0 90px 0;
}

/*
 * Desktop css
 */
@media screen and (min-width: 992px) {
    .side-nav {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 300px;
        background: #1b2733;
        padding: 20px;
    }
    .content {
        padding: 30px 260px 30px 340px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }

ul.link-list {
    list-style: none;
    margin: 0;
    padding: 0;
}